.footer {
  margin-top: 40px;
  margin-bottom: 19px;
  &__icon {
    &--marign {
      margin-right: 30px;
    }
  }
  &__icons-list {
    margin-bottom: 34px;
  }
  &__links-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    @include breakPoint(lg) {
      display: block;
    }
  }
  &__link {
    font-size: 12px;
    font-weight: bold;
    color: $primary-font-color;
    &:hover {
      color: $primary-font-color;
    }
    @include breakPoint(lg) {
      margin-right: 6px;
    }
  }
  &__options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    @include breakPoint(lg) {
      display: block;
    }
  }
  &__copyright {
    font-size: 13px;
    font-weight: 500;
    color: $primary-font-color;
    margin-top: 21px;
    margin-bottom: 23px;
  }
  &__select {
    border: none;
    font-size: 13px;
    color: $primary-font-color;
    text-transform: uppercase;
  }
  &__select-label {
    margin-bottom: 0;
    color: $extra-secondary-font-color;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
  }
}
