.hero {
  height: 523px;
  background-color: #d7d7d7;
  text-align: center;
  @include breakPoint(sm) {
    height: 550px;
  }

  &__img {
    display: none;
    margin-top: 196px;
    object-fit: contain;
  }
}
