.newsletter {
  max-width: 650px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  @include breakPoint(lg) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: $primary-font-color;
    text-align: center;
    margin-bottom: 38px;
    @include breakPoint(lg) {
      font-size: 30px;
    }
  }
  &__description {
    font-size: 13px;
    font-weight: 500;
    color: $secondary-font-color;
    @include breakPoint(lg) {
      font-size: 16px;
    }
    &--spam {
      margin-top: 14px;
    }
  }
  &__form {
    margin-top: 40px;
    display: flex;
    border-bottom: 2px solid $primary-font-color;
    padding-bottom: 13px;
  }

  &__input {
    @extend .clear-btn;
    flex-grow: 1;
    font-size: 13px;
    &::placeholder {
      color: rgba(69, 69, 69, 0.5);
    }
  }
  &__button {
    border: none;
    background-color: transparent;
    color: $primary-font-color;
    font-size: 13px;
  }
}
