.products {
  padding-top: 63px;

  &__headline {
    margin-bottom: 59px;
  }

  &__product-card {
    margin-bottom: 30px;
  }
  &__button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &__promo {
    margin-bottom: 10px;
  }
}
