.scroll-top {
  @extend .clear-btn;
  width: 48px;
  height: 48px;
  position: fixed;
  top: 50%;
  right: 15px;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.32);
  transition: transform 0.2s;
  @include breakPoint(lg) {
    right: 45px;
  }

  &:hover {
    transform: translateY(2px);
  }

  &--show {
    display: flex;
  }

  &__icon {
    transform: rotate(-90deg);
  }
}
