.slider {
  position: relative;
  background-color: $slider-bg-color;
  padding-top: 50px;
  padding-bottom: 70px;
  @include breakPoint(lg) {
    padding-bottom: 50px;
  }
}

// ustawienia dla biblioteki swiper
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  flex-shrink: 1;
}

.swiper-button-common {
  height: 48px;
  width: 48px;
  border: 1px solid #ffffff;
  &::after {
    content: none;
  }
}

.swiper-button-next {
  display: none;
  @extend .clear-btn;
  @extend .swiper-button-common;
  @include breakPoint(xxl) {
    display: block;
    right: -65px;
  }
}

.swiper-button-prev {
  display: none;
  @extend .clear-btn;
  @extend .swiper-button-common;
  @include breakPoint(xxl) {
    display: block;
    left: -65px;
  }
}
