.slider {
  position: relative;
  background-color: $slider-bg-color;
  padding-top: 50px;
  padding-bottom: 70px;
  min-height: 400px;

  &__spinner {
    color: #ddd;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__img {
    height: 350px;
    position: relative;
  }

  &__error {
    color: #ddd;
    text-align: center;
  }

  &__txt {
    background-color: #d4d4d4;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  @include breakPoint(lg) {
    padding-bottom: 50px;
  }
  &__card {
    background-color: #d7d7d7;
    position: relative;
    transition: background-color 0.3s;
    &-name {
      transition: color 0.3s;
      @extend .basic-typograpy-setup;
      color: $secondary-font-color;
      margin-bottom: 5px;
      text-transform: capitalize;
      color: #000;
    }

    &-price {
      transition: color 0.3s;
      @extend .basic-typograpy-setup;
      font-weight: bold;
      color: $primary-font-color;
    }
    &-content-wrapper {
      height: 100%;
    }
  }
}

// ustawienia dla biblioteki swiper
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  flex-shrink: 1;
}

.swiper-button-common {
  height: 48px;
  width: 48px;
  border: 1px solid #ffffff;
  &::after {
    content: none;
  }
}

.swiper-button-next {
  display: none;
  @extend .clear-btn;
  @extend .swiper-button-common;
  @include breakPoint(xxl) {
    display: block;
    right: -65px;
  }
}

.swiper-button-prev {
  display: none;
  @extend .clear-btn;
  @extend .swiper-button-common;
  @include breakPoint(xxl) {
    display: block;
    left: -65px;
  }
}
