.button {
  background-color: transparent;
  font-size: 13px;
  color: #151515;
  padding: 18px 30px;
  border: 2px solid #151515;
  text-transform: capitalize;
  font-weight: 500;
  &:hover {
    background-color: #151515;
    color: #ffffff;
    transition: background-color 0.4s, color 0.4s;
  }
}
