.headline {
  @extend .basic-typograpy-setup;
  font-size: 24px;
  color: $primary-font-color;

  &--light {
    color: #fff;
  }

  &--large {
    @include breakPoint(md) {
      font-size: 32px;
    }
    @include breakPoint(lg) {
      font-size: 40px;
    }
    @include breakPoint(lg) {
      font-size: 45px;
    }
  }
}
