.product-card {
  &__img {
    background-color: #f8f8f8;
    height: 208px;
    margin-bottom: 25px;
    @include breakPoint(lg) {
      height: 390px;
    }
  }
  &__name {
    @extend .basic-typograpy-setup;
    font-size: 13px;
    margin-bottom: 8px;
    text-align: left;
    color: $secondary-font-color;
  }
  &__price {
    @extend .basic-typograpy-setup;
    font-weight: bold;
    color: $primary-font-color;
    font-size: 13px;
  }
  &__btn {
    width: 100%;
    @extend .clear-btn;
    padding-left: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: $primary-font-color;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__speacial {
    color: $extra-primary-font-color;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 12px;
    span {
      margin-right: 6px;
    }
  }
}
