.slider {
  position: relative;
  background-color: $slider-bg-color;
  padding-top: 50px;
  padding-bottom: 70px;
}

// ustawienia dla biblioteki swiper
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  flex-shrink: 1;
}

.swiper-button-next {
  display: none;
  // @include breakPoint(xxl) {
  //   display: block;
  // }
}

.swiper-button-prev {
  display: none;
  // @include breakPoint(xxl) {
  //   display: block;
  // }
}
